body
{
  min-height: 100vh;
  background: linear-gradient( 150deg, rgb( 15, 15, 15, 1) 0%, rgba( 25, 15, 15, 1 ) 25%, rgba( 15, 15, 25, 1 ) 75%, rgba( 15, 15, 15, 1 ) 100% ); background-repeat: no-repeat; background-size: cover;
}

footer
{
  position: relative;
  width: 100%;
  bottom: 0px;
}